.button {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  padding: 2.3rem 5.6rem;
  -webkit-clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
  -moz-clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
  clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
  background-color: $green;
  transition: clip-path 0.5s, background-color 0.5s;
  &:hover {
    -webkit-clip-path: polygon(8% 0%, 92% 0%, 100% 30%, 100% 70%, 92% 100%, 8% 100%, 0% 70%, 0% 30%);
    -moz-clip-path: polygon(8% 0%, 92% 0%, 100% 30%, 100% 70%, 92% 100%, 8% 100%, 0% 70%, 0% 30%);
    clip-path: polygon(8% 0%, 92% 0%, 100% 30%, 100% 70%, 92% 100%, 8% 100%, 0% 70%, 0% 30%);
  }
  &[disabled] {
    background-color: $gray;
    &:hover {
      -webkit-clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
      -moz-clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
      clip-path: polygon(8% 0%, 100% 0%, 100% 0%, 100% 70%, 92% 100%, 0% 100%, 0% 100%, 0% 30%);
    }
  }
}

.swiper-navigation {
  display: flex;
  column-gap: 2.4rem;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    cursor: pointer;

    & > * {
      pointer-events: none;
    }

    svg {
      width: 4rem;
    }
  }
}
