<section class="description">
  <div class="container">
    <div class="description__inner">
      <div class="description__accordion-wrapper">
        <div class="description__accordion">
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Описание</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body">
              <div class="description__accordion-item-img-wrapper">
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-1.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-2.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-3.webp" alt="" />
                </div>
              </div>
              <div class="description__accordion-item-text-box">
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <div class="description__accordion-item-list-box">
                  <p class="description__accordion-item-list-title txt18">Основные преимущества:</p>
                  <div class="description__accordion-item-list-wrapper">
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">01</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">02</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">03</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">04</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">05</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">06</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">07</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">08</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">09</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">10</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Характеристики</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body">
              <div class="description__accordion-item-img-wrapper">
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-1.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-2.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-3.webp" alt="" />
                </div>
              </div>
              <div class="description__accordion-item-text-box">
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <div class="description__accordion-item-list-box">
                  <p class="description__accordion-item-list-title txt18">Основные преимущества:</p>
                  <div class="description__accordion-item-list-wrapper">
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">01</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">02</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">03</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">04</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">05</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">06</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">07</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">08</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">09</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">10</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="description__accordion-item">
            <div class="description__accordion-item-header">
              <p class="description__accordion-title title-h4">Спецификация</p>
              <div class="description__accordion-svg-wrapper">
                <div class="description__accordion-svg-box">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 0.92572V23.2114"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M0.857422 12H23.1431"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="description__accordion-item-body">
              <div class="description__accordion-item-img-wrapper">
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-1.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-2.webp" alt="" />
                </div>
                <div class="description__accordion-item-img-box">
                  <img src="./assets/images/description-img-3.webp" alt="" />
                </div>
              </div>
              <div class="description__accordion-item-text-box">
                <p class="description__accordion-item-text txt18">
                  Cварочные полуавтоматы на базе микропроцессора Ehave CM (CO2/MAG/MMA) предназначены для
                  сварки металлической проволокой и ручной дуговой сварки плавящимся электродом. Аппараты
                  широко применяются в различных отраслях при сварке углеродистой стали: железнодорожный
                  транспорт, судостроение, автомобилестроение, производство стальных конструкций, контейнеров,
                  металлообработке, металлической мебели.
                </p>
                <div class="description__accordion-item-list-box">
                  <p class="description__accordion-item-list-title txt18">Основные преимущества:</p>
                  <div class="description__accordion-item-list-wrapper">
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">01</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">02</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">03</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">04</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">05</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                    <ul class="description__accordion-item-list">
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">06</p>
                        <p class="description__accordion-item-item-text">
                          Цифровая инверторная технология с микропроцессорным управлением. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">07</p>
                        <p class="description__accordion-item-item-text">Синергетическое управление.</p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">08</p>
                        <p class="description__accordion-item-item-text">
                          Стабильная дуга при полном токе и низком уровне разбрызгивания. 
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">09</p>
                        <p class="description__accordion-item-item-text">
                          Нагрузка 500 A / ПВ 100% при +40°C для тяжёлых условий эксплуатации.
                        </p>
                      </li>
                      <li class="description__accordion-item-item txt18">
                        <p class="description__accordion-item-item-num">10</p>
                        <p class="description__accordion-item-item-text">
                          Соединительные кабели "три в одном" с высокой степенью защиты.
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="description__demo-box">
        <div class="description__demo-content-box">
          <p class="description__demo-title tl3">Запишитесь на демонстрацию</p>
          <div class="description__demo-btn-box">
            <p class="description__demo-desc txt18">
              Наши менеджеры помогут подобрать оборудование под Ваши задачи
            </p>
            <button class="description__demo-btn button txt18 txt18_bold" data-popup="#popup__feedback">
              оставить заявку
            </button>
          </div>
        </div>
        <div class="description__demo-img-box">
          <img src="assets/images/description-demo-img.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
